extends layout

block content
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/buildings') CH Building Intelligence Database
      a.btn.btn-primary.navbar-btn(href='/buildings') Back to Map
      a.btn.btn-success.navbar-btn.navbar-right(onclick='window.print()') Print Report
  
  h3= b.parcel_add
  h4.label-list
    span.label.label-default #{propcode}
    if b.own_occup
      span.label.label-primary Owner-Occupied
    else
      span.label.label-primary Rental
    if b.vacant
      span.label.label-danger Vacant
  
  h5 Owned by #{b.owner}
  h5 Last sold in <strong>#{b.last_sale}</strong> by <strong>#{b.seller}</strong> for <strong>#{a.formatMoney(b.sale_amoun)}</strong>

  div.row
    div.col-md-4
      div.panel.panel-default
        div.panel-heading
          h3.panel-title Property Events
        ul.list-group
          li.list-group-item # of Building Permits
            span.badge= b.perm_num
          li.list-group-item # of Foreclosures 
            span.badge= b.fc_count
          li.list-group-item # of Complaints
            span.badge= b.comp_count

    div.col-md-4
      div.panel.panel-default
        div.panel-heading
          h3.panel-title Floor Space
            span.label.label-primary.pull-right Land Use Code #{b.land_use}
        table.table
          tr
            td Commercial
            td #{b.tot_com_sq} sq ft
          tr
            td Residential
            td #{b.tot_res_sq} sq ft
          tr
            td Total
            td #{b.total_sqft} sq ft

    div.col-md-4
      div.panel.panel-default
        div.panel-heading
          h3.panel-title Tax Information
        table.table
          tr
            td Building Tax
            td= a.formatMoney(b.building_t)
          tr
            td Land Tax
            td= a.formatMoney(b.gross_tax)
          tr
            td
              strong Gross Tax
            td
              strong= a.formatMoney(b.land_tax)

  div.row
    div.col-md-6
      div.panel.panel-default
        div.panel-heading
          h3.panel-title Police Events
            span.badge.pull-right= policecalls.length
        if policecalls.length
          table.table
            thead
              tr
                th Date
                th Description
            each val in policecalls
              tr
                - var d = new Date(val.enddate)
                - var dateString = d.toDateString()
                td= dateString.slice(4)
                td= val.offtext
    div.col-md-6
      div.panel.panel-default
        div.panel-heading
          h3.panel-title Negative Actions
            span.badge.pull-right= negactions.length
        if negactions.length
          table.table
            thead
              tr
                th Date
                th Status
                th Action Desc.
            each val in negactions
              tr
                td= val.case_year
                td= val.case_status
                td= val.action_code_desc
      
