extends layout

block content
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/buildings') CH Building Intelligence Database
      a.btn.btn-primary.navbar-btn(href='/buildings') Back to Map
      a.btn.btn-success.navbar-btn.navbar-right(onclick='window.print()') Print Report
  
  h3= b.parcel_add
  h4.label-list
    span.label.label-default #{propcode}
    if b.own_occup
      span.label.label-primary Owner-Occupied
    else
      span.label.label-primary Rental
    if b.vacant
      span.label.label-danger Vacant

  div.row
    div.col-md-6
      div.panel.panel-default
        div.panel-heading
          h3.panel-title Sale
        ul.list-group
          li.list-group-item Last Sale Date #{b.last_sale}
          li.list-group-item Sale Amount #{a.formatMoney(b.sale_amoun)}
          li.list-group-item Seller #{b.seller}

    div.col-md-6
      div.panel.panel-default
        div.panel-heading
          h3.panel-title Tax Information
        ul.list-group
          li.list-group-item Building Tax #{a.formatMoney(b.building_t)}
          li.list-group-item Gross Tax #{a.formatMoney(b.gross_tax)}
          li.list-group-item Land Tax #{a.formatMoney(b.land_tax)}
        
  div.row  
    div.col-md-6
      div.panel.panel-default
        div.panel-heading
          h3.panel-title Land Use
        ul.list-group
          li.list-group-item Land Use Code #{b.land_use}
          li.list-group-item Number of Building Permits #{b.perm_num}
          li.list-group-item Total Commercial Square Feet #{b.tot_com_sq}
          li.list-group-item Total Residential Square Feet #{b.tot_res_sq}
          li.list-group-item Total Square Feet #{b.total_sqft}

    div.col-md-6
      div.panel.panel-default
        div.panel-heading
          h3.panel-title Property Events
        ul.list-group
          li.list-group-item # of Foreclosures #{b.fc_count}
          li.list-group-item # of Police Dispatches #{b.pd_count}
          li.list-group-item # of Complaints #{b.comp_count}
          li.list-group-item Years from the Last Case #{b.last_case}
          li.list-group-item Number of Negative Actions #{b.negact_cou}
          
  div.row
    div.col-md-6
      div.panel.panel-default
        div.panel-heading
          h3.panel-title Police Events
        table.table
          thead
            tr
              th Date
              th Call Date
          each val in policecalls
            tr
              td= val.enddate
              td= val.offtext 

      
